<div class="row">
  <div class="col-8 offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Deposit</th>
          <th>Credit Card</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts">
          <td>{{account.id}}</td>
          <td>{{account.name}}</td>
          <td>{{account.deposit}}</td>
          <td>{{account.cCard}}</td>
          <td><a href="#/editForm/{{account.id}}" class="btn btn-warning btn-sm">Edit</a></td>
          <td><button class="btn btn-danger btn-sm" ng-click="deleteAccount(account.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
